form {
    width:300px;
    height:100px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addForm {
    margin-left: 10px;
}

.output {
    display:flex;
    flex-wrap:wrap;
}

.cont {
    padding: 10px;
    background-color: beige;
    color:black;
    box-shadow: 10px 10px 10px black;
    margin:10px;
    position: relative;
    width:300px;
    height: 400px;
   
}